/* COLORS */
/* MIXINS */
.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* ANIATIONS */
@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes bounce-arrow {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  40% {
    -moz-transform: translate(-50%, -7.5px);
    -ms-transform: translate(-50%, -7.5px);
    -o-transform: translate(-50%, -7.5px);
    -webkit-transform: translate(-50%, -7.5px);
    transform: translate(-50%, -7.5px);
  }
  60% {
    -moz-transform: translate(-50%, -2.5px);
    -ms-transform: translate(-50%, -2.5px);
    -o-transform: translate(-50%, -2.5px);
    -webkit-transform: translate(-50%, -2.5px);
    transform: translate(-50%, -2.5px);
  }
}
@-webkit-keyframes bounce-arrow {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  40% {
    -moz-transform: translate(-50%, -7.5px);
    -ms-transform: translate(-50%, -7.5px);
    -o-transform: translate(-50%, -7.5px);
    -webkit-transform: translate(-50%, -7.5px);
    transform: translate(-50%, -7.5px);
  }
  60% {
    -moz-transform: translate(-50%, -2.5px);
    -ms-transform: translate(-50%, -2.5px);
    -o-transform: translate(-50%, -2.5px);
    -webkit-transform: translate(-50%, -2.5px);
    transform: translate(-50%, -2.5px);
  }
}
@keyframes bounce-arrow {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  40% {
    -moz-transform: translate(-50%, -7.5px);
    -ms-transform: translate(-50%, -7.5px);
    -o-transform: translate(-50%, -7.5px);
    -webkit-transform: translate(-50%, -7.5px);
    transform: translate(-50%, -7.5px);
  }
  60% {
    -moz-transform: translate(-50%, -2.5px);
    -ms-transform: translate(-50%, -2.5px);
    -o-transform: translate(-50%, -2.5px);
    -webkit-transform: translate(-50%, -2.5px);
    transform: translate(-50%, -2.5px);
  }
}
/* STYLES */
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.hide {
  display: none;
}
.clean {
  clear: both;
}
.invisible {
  opacity: 0 !important;
}
.right-arrow,
.left-arrow {
  position: fixed;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 44px;
  font-size: 22px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 30px;
  cursor: pointer;
  color: #fff;
  z-index: 100;
}
.left-arrow {
  left: 25px;
}
@media (max-width: 767px) {
  .left-arrow {
    left: 16px;
  }
}
.left-arrow > i {
  position: relative;
  top: -2px;
  left: -2px;
}
.right-arrow {
  right: 25px;
}
@media (max-width: 767px) {
  .right-arrow {
    right: 16px;
  }
}
.right-arrow > i {
  position: relative;
  left: 2px;
  top: -2px;
}
.slides-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.slides-container > .slide {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: none;
  position: absolute;
  top: 0;
}
.slides-container > .slide.loaded {
  display: block;
  -moz-transition: left 2s ease;
  -o-transition: left 2s ease;
  -webkit-transition: left 2s ease;
  transition: left 2s ease;
}
.slides-container > .slide.slide-one {
  display: block;
  background: #e42e2e;
  color: #fff;
}
.slides-container > .slide.slide-one .logo-w,
.slides-container > .slide.slide-one .logo-y,
.slides-container > .slide.slide-one .logo-s {
  opacity: 0;
  -moz-transition: opacity 2s ease 0s, width 1s cubic-bezier(0.4, -0.03, 0.27, 1.55) 0s, height 1s cubic-bezier(0.4, -0.03, 0.27, 1.55) 0s;
  -o-transition: opacity 2s ease 0s, width 1s cubic-bezier(0.4, -0.03, 0.27, 1.55) 0s, height 1s cubic-bezier(0.4, -0.03, 0.27, 1.55) 0s;
  -webkit-transition: opacity 2s ease 0s, width 1s cubic-bezier(0.4, -0.03, 0.27, 1.55) 0s, height 1s cubic-bezier(0.4, -0.03, 0.27, 1.55) 0s;
  transition: opacity 2s ease 0s, width 1s cubic-bezier(0.4, -0.03, 0.27, 1.55) 0s, height 1s cubic-bezier(0.4, -0.03, 0.27, 1.55) 0s;
}
.slides-container > .slide.slide-one .logo-w.fade-in,
.slides-container > .slide.slide-one .logo-y.fade-in,
.slides-container > .slide.slide-one .logo-s.fade-in {
  opacity: 1;
}
.slides-container > .slide.slide-one .logo-w,
.slides-container > .slide.slide-one .logo-y {
  width: 175px;
  height: 175px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.slides-container > .slide.slide-one .logo-w {
  background-image: url('../imgs/logo-w.png');
}
.slides-container > .slide.slide-one .logo-y {
  background-image: url('../imgs/logo-y.png');
}
.slides-container > .slide.slide-one .logo-y.heartbeat {
  width: 190px;
  height: 190px;
}
.slides-container > .slide.slide-one .logo-s {
  width: 80px;
  height: 80px;
  background-image: url('../imgs/logo-y.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 5px;
  left: 15px;
}
.slides-container > .slide.slide-one .content-container {
  max-width: 850px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.slides-container > .slide.slide-one .content-container .content {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 1;
}
@media (max-width: 999px) {
  .slides-container > .slide.slide-one .content-container {
    max-width: 640px;
  }
}
@media (max-width: 767px) {
  .slides-container > .slide.slide-one .content-container {
    max-width: 415px;
  }
}
@media (max-width: 549px) {
  .slides-container > .slide.slide-one .content-container {
    max-width: 300px;
  }
}
@media (max-width: 419px) {
  .slides-container > .slide.slide-one .content-container {
    max-width: 235px;
    margin: 0;
    padding-left: 24px;
  }
}
.slides-container > .slide.slide-one .title {
  display: inline-block;
  font-size: 88px;
}
@media (max-width: 999px) {
  .slides-container > .slide.slide-one .title {
    font-size: 72px;
  }
}
@media (max-width: 767px) {
  .slides-container > .slide.slide-one .title {
    font-size: 48px;
  }
}
@media (max-width: 419px) {
  .slides-container > .slide.slide-one .title {
    font-size: 38px;
  }
}
.slides-container > .slide.slide-one .title .underline {
  display: inline-block;
  line-height: 80px;
  border-bottom: 2px solid #ffc800;
}
@media (max-width: 999px) {
  .slides-container > .slide.slide-one .title .underline {
    line-height: 65px;
  }
}
@media (max-width: 767px) {
  .slides-container > .slide.slide-one .title .underline {
    line-height: 45px;
  }
}
@media (max-width: 419px) {
  .slides-container > .slide.slide-one .title .underline {
    line-height: 40px;
  }
}
.slides-container > .slide.slide-one .title .marked {
  color: #ffc800;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}
.slides-container > .slide.slide-one .title .marked:hover {
  color: #E53988;
}
.slides-container > .slide.slide-one .title .marked:hover.underline,
.slides-container > .slide.slide-one .title .marked:hover > .underline {
  border-color: #E53988;
}
.slides-container > .slide.slide-one .text {
  display: inline-block;
  font-size: 26px;
  margin-top: 25px;
}
@media (max-width: 999px) {
  .slides-container > .slide.slide-one .text {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .slides-container > .slide.slide-one .text {
    font-size: 18px;
  }
}
.slides-container > .slide.slide-one .slash {
  display: inline-block;
  color: #fff;
  -moz-animation: blink 1s infinite;
  -o-animation: blink 1s infinite;
  -webkit-animation: blink 1s infinite;
  animation: blink 1s infinite;
}
.slides-container > .slide.slide-two {
  background: url('../imgs/bg.png');
  background-size: cover;
  background-position: top center;
  overflow: hidden;
}
.slides-container > .slide.slide-two .bo,
.slides-container > .slide.slide-two .lo {
  position: absolute;
  width: 50%;
}
.slides-container > .slide.slide-two .bo .text-mobile,
.slides-container > .slide.slide-two .lo .text-mobile {
  display: none;
}
@media (max-width: 519px) {
  .slides-container > .slide.slide-two .bo,
  .slides-container > .slide.slide-two .lo {
    width: 100%;
  }
  .slides-container > .slide.slide-two .bo .text-mobile,
  .slides-container > .slide.slide-two .lo .text-mobile {
    display: block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #ffc800;
    border-radius: 50px;
    font-size: 42px;
    color: #fff;
  }
}
@media (min-width: 720px) {
  .slides-container > .slide.slide-two .bo,
  .slides-container > .slide.slide-two .lo {
    width: 40%;
  }
}
.slides-container > .slide.slide-two .bo .img > img,
.slides-container > .slide.slide-two .lo .img > img {
  width: 100%;
  position: relative;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
@media (max-width: 519px) {
  .slides-container > .slide.slide-two .bo .img > img,
  .slides-container > .slide.slide-two .lo .img > img {
    display: none;
  }
}
.slides-container > .slide.slide-two .bo .text,
.slides-container > .slide.slide-two .lo .text {
  position: absolute;
  color: #fff;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 34px;
  border-radius: 70px;
  cursor: pointer;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 5px;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
@media (max-width: 519px) {
  .slides-container > .slide.slide-two .bo .text,
  .slides-container > .slide.slide-two .lo .text {
    display: none;
  }
}
.slides-container > .slide.slide-two .bo .text svg,
.slides-container > .slide.slide-two .lo .text svg {
  position: absolute;
  top: -2px;
  left: -2px;
}
.slides-container > .slide.slide-two .bo .text .progress-circle circle,
.slides-container > .slide.slide-two .lo .text .progress-circle circle {
  stroke-dashoffset: -300px;
  stroke-width: 2px;
  stroke: #ffc800;
}
.slides-container > .slide.slide-two .bo .text:hover,
.slides-container > .slide.slide-two .lo .text:hover {
  background: #ffc800;
  border-color: #fff;
}
.slides-container > .slide.slide-two .bo .text:hover .progress-circle circle,
.slides-container > .slide.slide-two .lo .text:hover .progress-circle circle {
  stroke: #fff;
}
.slides-container > .slide.slide-two .bo {
  top: 10%;
  z-index: 40;
  max-width: 544px;
  left: 0;
}
@media (max-width: 519px) {
  .slides-container > .slide.slide-two .bo {
    top: 20%;
  }
}
@media (min-width: 1000px) {
  .slides-container > .slide.slide-two .bo {
    left: auto;
    right: 50%;
  }
}
.slides-container > .slide.slide-two .bo .text {
  top: -20px;
  left: 10%;
}
@media (min-width: 720px) {
  .slides-container > .slide.slide-two .bo .text {
    right: -15%;
    top: 30%;
  }
}
@media (min-width: 1000px) {
  .slides-container > .slide.slide-two .bo .text {
    right: auto;
    left: 25%;
  }
}
.slides-container > .slide.slide-two .lo {
  top: -3%;
  z-index: 30;
  max-width: 576px;
  right: 0;
}
@media (max-width: 519px) {
  .slides-container > .slide.slide-two .lo {
    top: 60%;
  }
}
@media (min-width: 1000px) {
  .slides-container > .slide.slide-two .lo {
    right: 5%;
  }
}
@media (min-width: 1600px) {
  .slides-container > .slide.slide-two .lo {
    right: 15%;
  }
}
.slides-container > .slide.slide-two .lo .text {
  outline: none;
  bottom: -5%;
  left: 10%;
}
@media (min-width: 720px) {
  .slides-container > .slide.slide-two .lo .text {
    top: 25%;
    bottom: auto;
    left: 10%;
  }
}
@media (min-width: 1000px) {
  .slides-container > .slide.slide-two .lo .text {
    left: auto;
    right: 0;
  }
}
.slides-container > .slide.slide-two .desc {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 600px;
  background: #ffc800;
  z-index: 120;
  top: 0;
  color: #fff;
  padding: 24px 16px;
  -moz-transition: opacity 1.5s ease, transform 0.7s ease;
  -o-transition: opacity 1.5s ease, transform 0.7s ease;
  -webkit-transition: opacity 1.5s ease, transform 0.7s ease;
  transition: opacity 1.5s ease, transform 0.7s ease;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}
.slides-container > .slide.slide-two .desc.lo-desc {
  right: 0;
}
.slides-container > .slide.slide-two .desc .close {
  cursor: pointer;
  width: 32px;
  height: 32px;
  line-height: 30px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 32px;
  position: absolute;
  top: 24px;
  right: 16px;
}
@media (min-width: 720px) {
  .slides-container > .slide.slide-two .desc .close {
    top: 32px;
  }
}
.slides-container > .slide.slide-two .desc .close:hover {
  color: #e42e2e;
  border-color: #e42e2e;
}
.slides-container > .slide.slide-two .desc .title {
  font-size: 34px;
  margin-bottom: 16px;
  opacity: 0;
  -moz-transition: opacity 1s ease 0.7s;
  -o-transition: opacity 1s ease 0.7s;
  -webkit-transition: opacity 1s ease 0.7s;
  transition: opacity 1s ease 0.7s;
}
@media (min-width: 720px) {
  .slides-container > .slide.slide-two .desc .title {
    font-size: 44px;
    margin-bottom: 24px;
  }
}
.slides-container > .slide.slide-two .desc .text {
  font-size: 18px;
  opacity: 0;
  -moz-transition: opacity 1s ease 1.5s;
  -o-transition: opacity 1s ease 1.5s;
  -webkit-transition: opacity 1s ease 1.5s;
  transition: opacity 1s ease 1.5s;
}
@media (min-width: 720px) {
  .slides-container > .slide.slide-two .desc .text {
    font-size: 24px;
  }
}
.slides-container > .slide.slide-two .desc .text a {
  color: #e42e2e;
}
.slides-container > .slide.slide-two .desc .text a:hover {
  color: #af1717;
}
.slides-container > .slide.slide-two .desc.open {
  opacity: 1;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.slides-container > .slide.slide-two .desc.open .title,
.slides-container > .slide.slide-two .desc.open .text {
  opacity: 1;
}
.slides-container > .slide.slide-three {
  background: #ffc800;
}
.slides-container > .slide.slide-three .projects-page {
  position: relative;
  min-height: 100%;
}
.slides-container > .slide.slide-three .projects-page .down {
  display: none;
  position: absolute;
  bottom: 30px;
  color: #fff;
  font-size: 40px;
  left: 50%;
  -moz-animation: bounce-arrow 2s infinite;
  -o-animation: bounce-arrow 2s infinite;
  -webkit-animation: bounce-arrow 2s infinite;
  animation: bounce-arrow 2s infinite;
  cursor: pointer;
}
@media (min-width: 1250px) {
  .slides-container > .slide.slide-three .projects-page .down {
    display: block;
  }
}
.slides-container > .slide.slide-three .projects-container {
  max-width: 1238px;
  margin: 0 auto;
  padding: 8px 16px;
}
@media (min-width: 720px) {
  .slides-container > .slide.slide-three .projects-container {
    padding: 24px;
  }
}
@media (min-width: 1250px) {
  .slides-container > .slide.slide-three .projects-container {
    padding: 48px 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.slides-container > .slide.slide-three .projects-container .lines {
  display: none;
  position: absolute;
  height: 500px;
  width: 1110px;
}
@media (min-width: 1250px) {
  .slides-container > .slide.slide-three .projects-container .lines {
    display: block;
  }
}
.slides-container > .slide.slide-three .projects-container .lines > line {
  stroke: #fddf70;
  stroke-width: 1px;
}
@media (min-width: 1250px) {
  .slides-container > .slide.slide-three .projects-container .projects {
    width: 1110px;
    height: 500px;
  }
}
.slides-container > .slide.slide-three .projects-container .project {
  width: 100%;
  margin: 0 auto 24px;
  padding-bottom: 24px;
  overflow: hidden;
  opacity: 0;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid #fddf70;
}
@media (min-width: 1250px) {
  .slides-container > .slide.slide-three .projects-container .project {
    border-bottom: none;
    width: 370px;
  }
}
.slides-container > .slide.slide-three .projects-container .project .info {
  position: relative;
  right: 0;
  -moz-transition: right 0.2s ease;
  -o-transition: right 0.2s ease;
  -webkit-transition: right 0.2s ease;
  transition: right 0.2s ease;
}
.slides-container > .slide.slide-three .projects-container .project .link {
  position: absolute;
  top: 50%;
  left: 150%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 72px;
  text-align: center;
  color: white;
  -moz-transition: left 0.2s ease;
  -o-transition: left 0.2s ease;
  -webkit-transition: left 0.2s ease;
  transition: left 0.2s ease;
}
.slides-container > .slide.slide-three .projects-container .project:hover .info {
  right: 120%;
}
.slides-container > .slide.slide-three .projects-container .project:hover .link {
  left: 50%;
}
.slides-container > .slide.slide-three .projects-container .project.fade-in {
  opacity: 1;
}
.slides-container > .slide.slide-three .projects-container .project.bottom.last {
  padding-bottom: 0;
  margin-bottom: 0;
}
@media (min-width: 720px) {
  .slides-container > .slide.slide-three .projects-container .project {
    max-width: 600px;
    margin-bottom: 32px;
    padding-bottom: 32px;
  }
}
@media (min-width: 1250px) {
  .slides-container > .slide.slide-three .projects-container .project {
    max-width: 400px;
    height: 250px;
    float: left;
    padding: 32px 16px;
    margin-bottom: 0;
  }
}
.slides-container > .slide.slide-three .projects-container .project .title {
  color: #e42e2e;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}
@media (min-width: 720px) {
  .slides-container > .slide.slide-three .projects-container .project .title {
    margin-bottom: 32px;
    font-size: 24px;
  }
}
@media (min-width: 1250px) {
  .slides-container > .slide.slide-three .projects-container .project .title {
    margin-bottom: 0;
    font-size: 26px;
    height: 64px;
  }
}
.slides-container > .slide.slide-three .projects-container .project .desc {
  font-size: 16px;
  color: #fff;
  text-align: justify;
}
@media (min-width: 720px) {
  .slides-container > .slide.slide-three .projects-container .project .desc {
    font-size: 18px;
  }
}
.slides-container > .slide.slide-three .clients-page {
  position: relative;
}
@media (min-width: 1250px) {
  .slides-container > .slide.slide-three .clients-page {
    min-height: 100%;
  }
}
.slides-container > .slide.slide-three .clients-page .up {
  display: none;
  position: absolute;
  top: 30px;
  color: #fff;
  font-size: 40px;
  left: 50%;
  -moz-animation: bounce-arrow 2s infinite;
  -o-animation: bounce-arrow 2s infinite;
  -webkit-animation: bounce-arrow 2s infinite;
  animation: bounce-arrow 2s infinite;
  cursor: pointer;
}
@media (min-width: 1250px) {
  .slides-container > .slide.slide-three .clients-page .up {
    display: block;
  }
}
.slides-container > .slide.slide-three .clients-container {
  position: absolute;
  padding: 80px;
  width: 100%;
  max-width: 1100px;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.slides-container > .slide.slide-three .clients-container .clients {
  display: table;
  width: 100%;
}
.slides-container > .slide.slide-three .clients-container .clients .col {
  text-align: center;
}
@media (min-width: 1250px) {
  .slides-container > .slide.slide-three .clients-container .clients .col {
    display: table-cell;
    width: 25%;
    vertical-align: top;
    padding: 0 15px;
    text-align: left;
  }
}
.slides-container > .slide.slide-three .clients-container .clients .col .group {
  margin-bottom: 50px;
}
.slides-container > .slide.slide-three .clients-container .clients .col .group .title {
  font-size: 26px;
  color: #e42e2e;
  margin-bottom: 20px;
}
.slides-container > .slide.slide-three .clients-container .clients .col .group .item {
  margin-bottom: 5px;
}
.slides-container > .slide.slide-three .clients-container .clients .col .group .item > a {
  color: #fff;
  text-decoration: none;
}
.slides-container > .slide.slide-three .clients-container .clients .col .group .item > a:hover {
  color: #e42e2e;
}
.slides-container > .slide.slide-four {
  background: #e42e2e;
  position: relative;
  /*.content-container {
                max-width: 600px;
                margin: 0 auto;
                padding: 50px 15px;

                .content {
                    @media(min-width: 720px) {
                        position: absolute;
                        top: 50%;
                        .transform(translateY(-50%));
                    }
                }
                
                .text {
                    color: #fff;
                    font-size: 50px;
                    text-align: center;

                    padding-top: 30px;  
                    
                    @media(min-width: 720px) {
                        padding-top: 0;
                        padding-left: 50px;
                        display: inline-block;

                        vertical-align: top;
                        line-height: 120px;
                    }

                    @media(min-width: 1024px) {
                        padding-left: 120px;
                    }
                }                

                .fruits {
                    text-align: center;

                    @media(min-width: 720px) {
                        display: inline-block;
                    }
                }

                .fruit {
                    display: inline-block;
                    height: 110px;
                    margin-right: 60px;

                    &.last {
                        margin-right: 0;
                    }
                    
                    a {                        
                        text-decoration: none;
                    }

                    .title {
                        position: relative;
                        top: 10px;

                        font-size: 18px;
                        color: #fff;
                        text-decoration: none;
                    }       

                    &:hover {
                        .title {
                            color: @primary-two;
                        }                        
                    }
                }

                .fruit-1 {
                    margin-right: 50px;

                    @media(min-width: 1024px) {
                        margin-right: 70px;
                    }
                }

                .fruit-2 {
                    position: relative;
                    
                    > img {
                        position: relative;
                        top: 8px;
                    }
                }

                .fruit, .text {
                    opacity: 0;
                    .transition(opacity ease 1s);

                    &.fade-in {
                        opacity: 1;
                    }                    
                }
            }*/
}
.slides-container > .slide.slide-four .content-container {
  width: 180px;
  margin: 0 auto;
}
@media (min-width: 720px) {
  .slides-container > .slide.slide-four .content-container {
    width: 400px;
  }
}
@media (min-width: 1024px) {
  .slides-container > .slide.slide-four .content-container {
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.slides-container > .slide.slide-four .content {
  text-align: center;
}
.slides-container > .slide.slide-four .content .fruit {
  margin-bottom: 20px;
}
@media (min-width: 720px) {
  .slides-container > .slide.slide-four .content .fruit {
    width: 180px;
    display: inline-block;
    margin: 20px 10px;
  }
}
@media (min-width: 1024px) {
  .slides-container > .slide.slide-four .content .fruit {
    margin: 0 10px;
  }
}
.slides-container > .slide.slide-four .content .fruit a {
  text-decoration: none;
  color: #fff;
}
.slides-container > .slide.slide-four .content .fruit a:hover {
  color: #ffc800;
}
.slides-container > .slide.slide-four .content .fruit .title {
  position: relative;
  top: 10px;
  font-size: 18px;
}
.slides-container > .slide.slide-four .content .fruit,
.slides-container > .slide.slide-four .content .main-fruit {
  opacity: 0;
  -moz-transition: opacity ease 1s;
  -o-transition: opacity ease 1s;
  -webkit-transition: opacity ease 1s;
  transition: opacity ease 1s;
}
.slides-container > .slide.slide-four .content .fruit.fade-in,
.slides-container > .slide.slide-four .content .main-fruit.fade-in {
  opacity: 1;
}
/* SLIDESHOW */
.mfp-bg {
  opacity: 0;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.mfp-wrap .mfp-content {
  opacity: 0;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-bg.mfp-removing,
.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
