/* COLORS */
@primary-one: #e42e2e;
@primary-two: #ffc800;
@primary-three: #E53988;
@text-accent: #fff;
@divider: #fddf70;

/* MIXINS */
.border-box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.transition (@params) {
    -moz-transition: @params;
    -o-transition: @params;
    -webkit-transition: @params;
    transition: @params;
}

.transition (@params1, @params2) {
    -moz-transition: @params1, @params2;
    -o-transition: @params1, @params2;
    -webkit-transition: @params1, @params2;
    transition: @params1, @params2;
}

.transform (@params) {
    -moz-transform: @params;
    -ms-transform: @params;
    -o-transform: @params;
    -webkit-transform: @params;
    transform: @params;
}

/* STYLES */
* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;    

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hide {
    display: none;
}

.clean {
    clear: both;
}

.invisible {
    opacity: 0 !important;
}

.right-arrow, .left-arrow {
    position: fixed;
    top: 50%;
    .transform(translateY(-50%));
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 44px;
    font-size: 34px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    z-index: 100;
}

.left-arrow {   
    left: 25px;

    @media(max-width: 767px) {
        left: 16px;
    }

    > i {
        position: relative;
        top: -2px;
        left: -2px;
    }
}

.right-arrow {    
    right: 25px;

    @media(max-width: 767px) {
        right: 16px;
    }

    > i {
        position: relative;
        left: 2px;
        top: -2px;
    }
}

.slides-container {
    width: 100%;
    height: 100%;
    overflow: hidden;

    position: relative;

    > .slide {
        width: 100%;
        height: 100%;    
        overflow: auto;
        
        .transition(left 2s ease);    

        position: absolute;
        top: 0;

        &.slide-one {
            background: @primary-one;
            color: #fff;

            .content-container {
                max-width: 830px;
                height: 100%;
                margin: 0 auto;
                position: relative;

                .content {
                    position: absolute;
                    top: 50%;
                    .transform(translateY(-50%));
                }

                @media(max-width: 999px) {
                    max-width: 640px;
                }

                @media(max-width: 767px) {
                    max-width: 415px;
                }

                @media(max-width: 549px) {
                    max-width: 300px;
                }

                @media(max-width: 419px) {
                    max-width: 235px;
                    margin: 0;
                    padding-left: 24px;
                }
            }

            .title {
                font-size: 88px;

                @media(max-width: 999px) {
                    font-size: 72px;
                }

                @media(max-width: 767px) {
                    font-size: 48px;
                }

                @media(max-width: 419px) {
                    font-size: 38px;
                }

                .underline {
                    display: inline-block;
                    line-height: 80px;
                    border-bottom: 2px solid @primary-two;

                    @media(max-width: 999px) {
                        line-height: 65px;
                    }

                    @media(max-width: 767px) {
                        line-height: 45px;
                    }

                    @media(max-width: 419px) {
                        line-height: 40px;
                    }
                }                

                .marked {
                    color: @primary-two;
                    display: inline-block;
                    cursor: pointer;
                    text-decoration: none;

                    &:hover {
                        color: @primary-three;

                        &.underline, > .underline {
                            border-color: @primary-three;
                        }
                    }                    
                }
            }

            .text {
                font-size: 26px;
                margin-top: 25px;

                @media(max-width: 999px) {
                    font-size: 20px;
                }

                @media(max-width: 767px) {
                    font-size: 18px;
                }
            }
        }

        &.slide-two {
            background: url('../imgs/bg.png');
            background-size: cover;
            background-position: top center;

            overflow: hidden;

            .bo, .lo {
                position: absolute;
                width: 50%;

                .text-mobile {
                    display: none;
                }

                @media(max-width: 519px) {
                    width: 100%;

                    .text-mobile {
                        display: block;
                        width: 100px;
                        height: 100px;
                        line-height: 100px;
                        margin: 0 auto;

                        text-align: center;

                        border: 2px solid @primary-two;
                        border-radius: 50px;

                        font-size: 42px;
                        color: #fff;
                    }
                }

                @media(min-width: 720px) { 
                    width: 40%;
                }

                .img > img {
                    width: 100%;
                    position: relative;

                    .transition(opacity 1s ease);

                    @media(max-width: 519px) {
                        display: none;
                    }
                }

                .text {
                    position: absolute;
                    color: @text-accent;
                    width: 70px;
                    height: 70px;
                    line-height: 70px;
                    text-align: center;
                    font-size: 34px;
                    border-radius: 70px;
                    cursor: pointer;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    padding-left: 5px;                    

                    .transition(opacity 1s ease);     
                    
                    @media(max-width: 519px) {
                        display: none;
                    }               
                    
                    svg {
                        position: absolute;
                        top: -2px;
                        left: -2px;
                    }                    

                    .progress-circle circle {
                      stroke-dashoffset: -300px;
                      stroke-width: 2px;
                      stroke: @primary-two;
                    }

                    &:hover {
                        background: @primary-two;
                        border-color: @text-accent;

                        .progress-circle circle {
                            stroke: #fff;
                        }
                    }
                }
            }

            .bo {
                top: 10%;
                z-index: 40;
                max-width: 544px;
                left: 0;

                @media(max-width: 519px) {
                    top: 20%;
                }

                @media(min-width: 1000px) {    
                    left: auto;
                    right: 50%;
                }

                .text {
                    top: -20px;
                    left: 10%; 

                    @media(min-width: 720px) { 
                        right: -15%;    
                        top: 30%;
                    }

                    @media(min-width: 1000px) {    
                        right: auto;
                        left: 25%;
                    }
                }
            }

            .lo {
                top: -3%;
                z-index: 30;
                max-width: 576px;
                right: 0;

                @media(max-width: 519px) {
                    top: 60%;
                }

                @media(min-width: 1000px) {                    
                    right: 5%;
                }

                @media(min-width: 1600px) {
                    right: 15%;
                }

                .text {
                    outline: none;
                    bottom: -5%;
                    left: 10%;               

                    @media(min-width: 720px) { 
                        top: 25%; 
                        bottom: auto;
                        left: 10%;    
                    }

                    @media(min-width: 1000px) {    
                        left: auto;
                        right: 0;
                    }
                }
            }

            .desc {
                position: absolute;
                width: 100%;
                height: 100%;
                max-width: 600px;
                background: @primary-two;
                z-index: 120;
                top: 0;

                color: @text-accent;

                padding: 24px 16px;  
                
                .transition(opacity 1.5s ease, transform 0.7s ease);
                .transform(scale(0));
                opacity: 0;   

                &.lo-desc {
                    right: 0;
                }

                .close {
                    cursor: pointer;
                    width: 32px;
                    height: 32px;
                    line-height:30px;
                    text-align: center;
                    border: 2px solid @text-accent;
                    border-radius: 32px;
                    position: absolute;
                    top: 24px;
                    right: 16px;

                    @media(min-width: 720px) {
                        top: 32px;
                    }

                    &:hover {
                        color: @primary-one;
                        border-color: @primary-one;
                    }
                }

                .title {
                    font-size: 34px;
                    margin-bottom: 16px;
                    opacity: 0;

                    .transition(opacity 1s ease 0.7s);

                    @media(min-width: 720px) {
                        font-size: 44px;
                        margin-bottom: 24px;
                    }
                }

                .text {
                    font-size: 18px;
                    opacity: 0;                    

                    .transition(opacity 1s ease 1.5s);

                    @media(min-width: 720px) {
                        font-size: 24px;
                    }
                }

                &.open {
                    opacity: 1;
                    .transform(scale(1));

                    .title, .text {
                        opacity: 1;
                    }
                }
            }
        }

        &.slide-three {
            background: @primary-two;

            .projects-container {
                max-width: 1238px;
                margin: 0 auto;
                padding: 8px 16px;

                @media(min-width: 720px) {
                    padding: 24px;
                }

                @media(min-width: 1250px) {
                    padding: 48px 64px;
                    position: relative;
                    top: 50%;
                    .transform(translateY(-50%));
                }                

                .lines {
                    display: none;

                    position: absolute;

                    height: 500px;
                    width: 1110px;

                    @media(min-width: 1250px) {
                        display: block;
                    }

                    > line {
                        stroke: @divider;
                        stroke-width: 1px;
                    }
                }

                .projects {
                    @media(min-width: 1250px) {
                        width: 1110px;
                        height: 500px;
                    }    
                }

                .project {
                    width: 100%;
                    margin: 0 auto 24px;
                    padding-bottom: 24px;
                    overflow: hidden;    
                    
                    opacity: 0;
                    .transition(opacity 1s ease);

                    position: relative;

                    cursor: pointer;

                    border-bottom: 1px solid @divider;

                    @media(min-width: 1250px) {
                        border-bottom: none;
                        width: 370px;
                    }

                    .info {
                        position: relative;
                        right:0;

                        .transition(right 0.2s ease);
                    }

                    .link {                        
                        position: absolute;                        
                        top: 50%;
                        left: 150%;
                        .transform(translate(-50%, -50%));

                        font-size: 72px;
                        text-align: center;
                        color: white;

                        .transition(left 0.2s ease);
                    }

                    &:hover {
                        .info {
                            right: 100%;
                        }

                        .link {
                            left: 50%;
                        }
                    }

                    &.fade-in {
                        opacity: 1;
                    }                         

                    &.bottom.last {
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }

                    @media(min-width: 720px) {
                        max-width: 600px;
                        margin-bottom: 32px;
                        padding-bottom: 32px;
                    }

                    @media(min-width: 1250px) {
                        max-width: 400px;
                        height: 250px;
                        float: left;
                        padding: 32px 16px;
                        margin-bottom: 0;
                    }

                    .title {
                        color: @primary-one;
                        font-size: 20px;
                        font-weight: 700;
                        margin-bottom: 16px;

                        @media(min-width: 720px){
                            margin-bottom: 24px;
                            font-size: 24px;
                        }

                        @media(min-width: 1250px) {
                            margin-bottom: 32px;
                            font-size: 26px;
                        }
                    }

                    .desc {
                        font-size: 16px;
                        color: @text-accent;

                        @media(min-width: 720px) {
                            font-size: 18px;
                        }
                    }                    
                }
            }
        }

        &.slide-four {
            background: @primary-one;
            position: relative;

            .content-container {
                max-width: 600px;
                margin: 0 auto;
                padding: 50px 15px;

                .content {
                    @media(min-width: 720px) {
                        position: absolute;
                        top: 50%;
                        .transform(translateY(-50%));
                    }
                }
                
                .text {
                    color: #fff;
                    font-size: 50px;
                    text-align: center;

                    padding-top: 30px;  
                    
                    @media(min-width: 720px) {
                        padding-top: 0;
                        padding-left: 50px;
                        display: inline-block;

                        vertical-align: top;
                        line-height: 120px;
                    }

                    @media(min-width: 1024px) {
                        padding-left: 120px;
                    }
                }                

                .fruits {
                    text-align: center;

                    @media(min-width: 720px) {
                        display: inline-block;
                    }
                }

                .fruit {
                    display: inline-block;
                    height: 110px;
                    margin-right: 60px;

                    &.last {
                        margin-right: 0;
                    }
                    
                    a {                        
                        text-decoration: none;
                    }

                    .title {
                        position: relative;
                        top: 10px;

                        font-size: 18px;
                        color: #fff;
                        text-decoration: none;
                    }       

                    &:hover {
                        .title {
                            color: @primary-two;
                        }                        
                    }
                }

                .fruit-1 {
                    margin-right: 50px;

                    @media(min-width: 1024px) {
                        margin-right: 70px;
                    }
                }

                .fruit-2 {
                    position: relative;
                    
                    > img {
                        position: relative;
                        top: 8px;
                    }
                }

                .fruit, .text {
                    opacity: 0;
                    .transition(opacity ease 1s);

                    &.fade-in {
                        opacity: 1;
                    }                    
                }
            }
        }
    }
}
