/* COLORS */
/* MIXINS */
.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* STYLES */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}
.hide {
  display: none;
}
.slides-container {
  height: 100%;
}
.slides-container > .slide {
  width: 100%;
  height: 100%;
}
.slides-container > .slide .right-arrow {
  position: absolute;
  top: 50%;
  right: 50px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 44px;
  font-size: 34px;
  text-align: center;
  border: 2px solid white;
  border-radius: 30px;
  cursor: pointer;
}
@media (max-width: 999px) {
  .slides-container > .slide .right-arrow {
    right: 32px;
  }
}
@media (max-width: 767px) {
  .slides-container > .slide .right-arrow {
    right: 16px;
  }
}
.slides-container > .slide .right-arrow > i {
  position: relative;
  left: 2px;
}
.slides-container > .slide.slide-one {
  background: #e42e2e;
  color: white;
}
.slides-container > .slide.slide-one .slide-content {
  max-width: 830px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 999px) {
  .slides-container > .slide.slide-one .slide-content {
    max-width: 640px;
  }
}
@media (max-width: 767px) {
  .slides-container > .slide.slide-one .slide-content {
    max-width: 415px;
  }
}
@media (max-width: 549px) {
  .slides-container > .slide.slide-one .slide-content {
    max-width: 300px;
  }
}
@media (max-width: 419px) {
  .slides-container > .slide.slide-one .slide-content {
    max-width: 235px;
    margin: 0;
    padding-left: 24px;
  }
}
.slides-container > .slide.slide-one .title {
  font-size: 90px;
}
@media (max-width: 999px) {
  .slides-container > .slide.slide-one .title {
    font-size: 75px;
  }
}
@media (max-width: 767px) {
  .slides-container > .slide.slide-one .title {
    font-size: 50px;
  }
}
@media (max-width: 419px) {
  .slides-container > .slide.slide-one .title {
    font-size: 40px;
  }
}
.slides-container > .slide.slide-one .title .marked {
  color: #ffc800;
  display: inline-block;
}
.slides-container > .slide.slide-one .title .underline {
  display: inline-block;
  line-height: 80px;
  border-bottom: 2px solid #ffc800;
}
@media (max-width: 999px) {
  .slides-container > .slide.slide-one .title .underline {
    line-height: 65px;
  }
}
@media (max-width: 767px) {
  .slides-container > .slide.slide-one .title .underline {
    line-height: 45px;
  }
}
@media (max-width: 419px) {
  .slides-container > .slide.slide-one .title .underline {
    line-height: 40px;
  }
}
.slides-container > .slide.slide-one .text {
  font-size: 26px;
  margin-top: 25px;
}
@media (max-width: 999px) {
  .slides-container > .slide.slide-one .text {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .slides-container > .slide.slide-one .text {
    font-size: 18px;
  }
}
.slides-container > .slide.slide-two {
  background: url('../imgs/bg.jpg');
  background-size: 100%;
}
/*# sourceMappingURL=main.css.map */